@import "tailwindcss";
@plugin "daisyui";

/* 1. TEMA CLARO (Default) */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

/* 2. TEMA OSCURO (Solo si el sistema lo pide) */
@plugin "daisyui/theme" {
  name: "business"; /* O "dark" */
}

/* DOTS INACTIVOS */
.swiper .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #22c55e !important; /* verde */
  opacity: 0.3 !important;
  transition: all 0.3s ease !important;
}

/* DOT ACTIVO */
.swiper .swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background-color: #16a34a !important;
  opacity: 1 !important;
  transform: scale(1.2);
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}